/* Hide all scrollbars but keep scrolling functional */

/* For IE 10+ */
* {
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* For WebKit (Chrome, Safari, Opera) */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
